@use 'sass:math';

// Config
// --------------------------

$ra-font-path: '../fonts' !default;
$ra-css-prefix: ra !default;
$ra-version: '0.0.21' !default;
$ra-border-color: #eee !default;
$ra-inverse: #fff !default;
$ra-li-width: math.div(30em, 14) !default;
