$ra-abacus: '\e900';
$ra-achievement: '\e901';
$ra-acid: '\e902';
$ra-acorn: '\e903';
$ra-alien-fire: '\e904';
$ra-all-for-one: '\e905';
$ra-amethyst: '\e906';
$ra-amphora: '\e907';
$ra-amputation: '\e908';
$ra-anchor: '\e909';
$ra-angel-wings: '\e90a';
$ra-ankh: '\e90b';
$ra-annexation: '\e90c';
$ra-anvil: '\e90d';
$ra-apothecary: '\e90e';
$ra-apple: '\e90f';
$ra-aquarius: '\e910';
$ra-arcane-mask: '\e911';
$ra-archer: '\e912';
$ra-archery-target: '\e913';
$ra-archive-research: '\e914';
$ra-arena: '\e915';
$ra-aries: '\e916';
$ra-arrow-cluster: '\e917';
$ra-arrow-flights: '\e918';
$ra-arson: '\e919';
$ra-ascending-block: '\e91a';
$ra-aura: '\e91b';
$ra-aware: '\e91c';
$ra-axe-in-log: '\e91d';
$ra-axe-swing: '\e91e';
$ra-axe-sword: '\e91f';
$ra-axe: '\e920';
$ra-banknote: '\e921';
$ra-barbed-arrow: '\e922';
$ra-basketball-ball: '\e923';
$ra-bat-sword: '\e924';
$ra-battered-axe: '\e925';
$ra-batteries: '\e926';
$ra-battle-axe: '\e927';
$ra-battle-gear: '\e928';
$ra-batwings: '\e929';
$ra-beam-wake: '\e92a';
$ra-bear-trap: '\e92b';
$ra-beer: '\e92c';
$ra-beetle: '\e92d';
$ra-bell: '\e92e';
$ra-biohazard: '\e92f';
$ra-bird-claw: '\e930';
$ra-bird-mask: '\e931';
$ra-black-book: '\e932';
$ra-blade-bite: '\e933';
$ra-blast: '\e934';
$ra-bleeding-eye: '\e935';
$ra-bleeding-hearts: '\e936';
$ra-bolt-shield: '\e937';
$ra-bomb-explosion: '\e938';
$ra-bone-bite: '\e939';
$ra-bone-knife: '\e93a';
$ra-book-cover: '\e93b';
$ra-book: '\e93c';
$ra-boomerang: '\e93d';
$ra-boot-stomp: '\e93e';
$ra-bottle-vapors: '\e93f';
$ra-bottled-bolt: '\e940';
$ra-bottom-right: '\e941';
$ra-bowie-knife: '\e942';
$ra-bowling-pin: '\e943';
$ra-bracer: '\e944';
$ra-brain-freeze: '\e945';
$ra-brandy-bottle: '\e946';
$ra-bridge: '\e947';
$ra-broadhead-arrow: '\e948';
$ra-broken-arrow: '\e949';
$ra-broken-bone: '\e94a';
$ra-broken-bottle: '\e94b';
$ra-broken-heart: '\e94c';
$ra-broken-shield: '\e94d';
$ra-broken-skull: '\e94e';
$ra-brutal-helm: '\e94f';
$ra-bubbling-potion: '\e950';
$ra-burning-book: '\e951';
$ra-burning-embers: '\e952';
$ra-burning-eye: '\e953';
$ra-burning-meteor: '\e954';
$ra-burning-skull: '\e955';
$ra-burst-blob: '\e956';
$ra-butterfly: '\e957';
$ra-byzantin-temple: '\e958';
$ra-campfire: '\e959';
$ra-camping-tent: '\e95a';
$ra-cancer: '\e95b';
$ra-candle-fire: '\e95c';
$ra-candle: '\e95d';
$ra-capitol: '\e95e';
$ra-capricorn: '\e95f';
$ra-caravel: '\e960';
$ra-carrot: '\e961';
$ra-castle-emblem: '\e962';
$ra-castle-flag: '\e963';
$ra-castle-ruins: '\e964';
$ra-castle: '\e965';
$ra-cat: '\e966';
$ra-cauldron: '\e967';
$ra-chain: '\e968';
$ra-cheese: '\e969';
$ra-chemical-arrow: '\e96a';
$ra-chessboard: '\e96b';
$ra-chest: '\e96c';
$ra-chicken-leg: '\e96d';
$ra-circle-of-circles: '\e96e';
$ra-circular-saw: '\e96f';
$ra-circular-shield: '\e970';
$ra-classical-knowledge: '\e971';
$ra-cloak-and-dagger: '\e972';
$ra-clockwork: '\e973';
$ra-closed-barbute: '\e974';
$ra-clover: '\e975';
$ra-clovers-card: '\e976';
$ra-clovers: '\e977';
$ra-coal-wagon: '\e978';
$ra-coffee-mug: '\e979';
$ra-cog-wheel: '\e97a';
$ra-cog: '\e97b';
$ra-coins: '\e97c';
$ra-cold-heart: '\e97d';
$ra-coliseum: '\e97e';
$ra-compass: '\e97f';
$ra-console-controller: '\e980';
$ra-conversation: '\e981';
$ra-cook: '\e982';
$ra-corked-tube: '\e983';
$ra-corset: '\e984';
$ra-cowled: '\e985';
$ra-crab-claw: '\e986';
$ra-cracked-helm: '\e987';
$ra-cracked-shield: '\e988';
$ra-crested-helmet: '\e989';
$ra-croc-sword: '\e98a';
$ra-crossbow: '\e98b';
$ra-crossed-axes: '\e98c';
$ra-crossed-bones: '\e98d';
$ra-crossed-sabres: '\e98e';
$ra-crossed-swords: '\e98f';
$ra-crown-of-thorns: '\e990';
$ra-crown: '\e991';
$ra-crowned-heart: '\e992';
$ra-crush: '\e993';
$ra-crystal-ball: '\e994';
$ra-crystal-cluster: '\e995';
$ra-crystal-growth: '\e996';
$ra-crystal-wand: '\e997';
$ra-crystals: '\e998';
$ra-cubes: '\e999';
$ra-cultist: '\e99a';
$ra-cut-palm: '\e99b';
$ra-cycle: '\e99c';
$ra-daggers: '\e99d';
$ra-daisy: '\e99e';
$ra-dead-tree: '\e99f';
$ra-death-skull: '\e9a0';
$ra-decapitation: '\e9a1';
$ra-defibrillate: '\e9a2';
$ra-demolish: '\e9a3';
$ra-dervish-swords: '\e9a4';
$ra-desert-skull: '\e9a5';
$ra-diamond-hard: '\e9a6';
$ra-diamond-hilt: '\e9a7';
$ra-diamond: '\e9a8';
$ra-diamonds-card: '\e9a9';
$ra-diamonds: '\e9aa';
$ra-dice-five: '\e9ab';
$ra-dice-four: '\e9ac';
$ra-dice-one: '\e9ad';
$ra-dice-six: '\e9ae';
$ra-dice-three: '\e9af';
$ra-dice-two: '\e9b0';
$ra-dig-dug: '\e9b1';
$ra-dinosaur: '\e9b2';
$ra-direction-signs: '\e9b3';
$ra-divert: '\e9b4';
$ra-diving-dagger: '\e9b5';
$ra-double-team: '\e9b6';
$ra-doubled: '\e9b7';
$ra-dragon-breath: '\e9b8';
$ra-dragon-wing: '\e9b9';
$ra-dragon: '\e9ba';
$ra-dragonfly: '\e9bb';
$ra-drill: '\e9bc';
$ra-dripping-blade: '\e9bd';
$ra-dripping-knife: '\e9be';
$ra-dripping-sword: '\e9bf';
$ra-drop-weapon: '\e9c0';
$ra-droplet-splash: '\e9c1';
$ra-droplet: '\e9c2';
$ra-droplets: '\e9c3';
$ra-dwarf-face: '\e9c4';
$ra-dwarf-helmet: '\e9c5';
$ra-earth-crack: '\e9c6';
$ra-egg-pod: '\e9c7';
$ra-egg: '\e9c8';
$ra-eggplant: '\e9c9';
$ra-elf-helmet: '\e9ca';
$ra-embrassed-energy: '\e9cb';
$ra-emerald: '\e9cc';
$ra-energise: '\e9cd';
$ra-evil-wings: '\e9ce';
$ra-executioner-hood: '\e9cf';
$ra-explosion: '\e9d0';
$ra-explosive-materials: '\e9d1';
$ra-eye-monster: '\e9d2';
$ra-eye-shield: '\e9d3';
$ra-eyeball: '\e9d4';
$ra-fairy-wand: '\e9d5';
$ra-fairy: '\e9d6';
$ra-fall-down: '\e9d7';
$ra-falling: '\e9d8';
$ra-fast-ship: '\e9d9';
$ra-feather-wing: '\e9da';
$ra-feathered-wing: '\e9db';
$ra-fedora: '\e9dc';
$ra-fire-axe: '\e9dd';
$ra-fire-bomb: '\e9de';
$ra-fire-breath: '\e9df';
$ra-fire-ring: '\e9e0';
$ra-fire-shield: '\e9e1';
$ra-fire-symbol: '\e9e2';
$ra-fire: '\e9e3';
$ra-fireball-sword: '\e9e4';
$ra-fish: '\e9e5';
$ra-fizzing-flask: '\e9e6';
$ra-flail: '\e9e7';
$ra-flame-symbol: '\e9e8';
$ra-flame: '\e9e9';
$ra-flaming-arrow: '\e9ea';
$ra-flaming-claw: '\e9eb';
$ra-flaming-trident: '\e9ec';
$ra-flask: '\e9ed';
$ra-flat-hammer: '\e9ee';
$ra-flower: '\e9ef';
$ra-flowers: '\e9f0';
$ra-fluffy-swirl: '\e9f1';
$ra-focused-lightning: '\e9f2';
$ra-food-chain: '\e9f3';
$ra-football-ball: '\e9f4';
$ra-footprint: '\e9f5';
$ra-forging: '\e9f6';
$ra-forward: '\e9f7';
$ra-fox: '\e9f8';
$ra-frost-emblem: '\e9f9';
$ra-frostfire: '\e9fa';
$ra-frozen-arrow: '\e9fb';
$ra-gamepad-cross: '\e9fc';
$ra-gamepad: '\e9fd';
$ra-gauntlet: '\e9fe';
$ra-gavel: '\e9ff';
$ra-gear-hammer: '\ea00';
$ra-gear-heart: '\ea01';
$ra-gears: '\ea02';
$ra-gecko: '\ea03';
$ra-gem-chain: '\ea04';
$ra-gem-pendant: '\ea05';
$ra-gemini: '\ea06';
$ra-gift-of-knowledge: '\ea07';
$ra-gladius: '\ea08';
$ra-glass-heart: '\ea09';
$ra-gloop: '\ea0a';
$ra-gold-bar: '\ea0b';
$ra-gold-mine: '\ea0c';
$ra-gold-stack: '\ea0d';
$ra-graduate-cap: '\ea0e';
$ra-grappling-hook: '\ea0f';
$ra-grass-patch: '\ea10';
$ra-grass: '\ea11';
$ra-greek-temple: '\ea12';
$ra-groundbreaker: '\ea13';
$ra-guarded-tower: '\ea14';
$ra-guillotine: '\ea15';
$ra-halberd: '\ea16';
$ra-ham-shank: '\ea17';
$ra-hammer-drop: '\ea18';
$ra-hammer: '\ea19';
$ra-hand-emblem: '\ea1a';
$ra-hand-saw: '\ea1b';
$ra-hand: '\ea1c';
$ra-hanging-sign: '\ea1d';
$ra-harpoon-trident: '\ea1e';
$ra-hatchet: '\ea1f';
$ra-health-decrease: '\ea20';
$ra-health-increase: '\ea21';
$ra-health: '\ea22';
$ra-heart-bottle: '\ea23';
$ra-heart-tower: '\ea24';
$ra-heartburn: '\ea25';
$ra-hearts-card: '\ea26';
$ra-hearts: '\ea27';
$ra-heat-haze: '\ea28';
$ra-heavy-fall: '\ea29';
$ra-heavy-shield: '\ea2a';
$ra-helmet: '\ea2b';
$ra-help: '\ea2c';
$ra-hive-emblem: '\ea2d';
$ra-hole-ladder: '\ea2e';
$ra-honeycomb: '\ea2f';
$ra-hood: '\ea30';
$ra-horn-call: '\ea31';
$ra-horns: '\ea32';
$ra-horseshoe: '\ea33';
$ra-hospital-cross: '\ea34';
$ra-hot-surface: '\ea35';
$ra-hourglass: '\ea36';
$ra-house: '\ea37';
$ra-hunting-horn: '\ea38';
$ra-hydra-shot: '\ea39';
$ra-hydra: '\ea3a';
$ra-ice-cube: '\ea3b';
$ra-ifrit: '\ea3c';
$ra-imperial-crown: '\ea3d';
$ra-implosion: '\ea3e';
$ra-incense: '\ea3f';
$ra-insect-jaws: '\ea40';
$ra-interdiction: '\ea41';
$ra-invisible: '\ea42';
$ra-jester-hat: '\ea43';
$ra-jewel-crown: '\ea44';
$ra-jigsaw-piece: '\ea45';
$ra-kaleidoscope: '\ea46';
$ra-kettlebell: '\ea47';
$ra-key-basic: '\ea48';
$ra-key: '\ea49';
$ra-kitchen-knives: '\ea4a';
$ra-knife-fork: '\ea4b';
$ra-knife: '\ea4c';
$ra-knight-banner: '\ea4d';
$ra-knight-helmet: '\ea4e';
$ra-kunai: '\ea4f';
$ra-lantern-flame: '\ea50';
$ra-large-hammer: '\ea51';
$ra-lava: '\ea52';
$ra-leaf: '\ea53';
$ra-leg-armor: '\ea54';
$ra-leo: '\ea55';
$ra-level-four-advanced: '\ea56';
$ra-level-four: '\ea57';
$ra-level-three-advanced: '\ea58';
$ra-level-three: '\ea59';
$ra-level-two-advanced: '\ea5a';
$ra-level-two: '\ea5b';
$ra-lever: '\ea5c';
$ra-libra: '\ea5d';
$ra-light-bulb: '\ea5e';
$ra-lighthouse: '\ea5f';
$ra-lightning-bolt: '\ea60';
$ra-lightning-storm: '\ea61';
$ra-lightning-sword: '\ea62';
$ra-lightning-trio: '\ea63';
$ra-lightning: '\ea64';
$ra-lion: '\ea65';
$ra-lit-candelabra: '\ea66';
$ra-locked-chest: '\ea67';
$ra-locked-fortress: '\ea68';
$ra-love-howl: '\ea69';
$ra-maggot: '\ea6a';
$ra-magic-axe: '\ea6b';
$ra-magic-shield: '\ea6c';
$ra-magnet: '\ea6d';
$ra-mass-driver: '\ea6e';
$ra-match: '\ea6f';
$ra-materials-science: '\ea70';
$ra-meat-hook: '\ea71';
$ra-meat: '\ea72';
$ra-medical-pack: '\ea73';
$ra-medieval-barracks: '\ea74';
$ra-medieval-gate: '\ea75';
$ra-metal-gate: '\ea76';
$ra-mighty-force: '\ea77';
$ra-mine-wagon: '\ea78';
$ra-minerals: '\ea79';
$ra-mining-diamonds: '\ea7a';
$ra-mirror: '\ea7b';
$ra-monster-skull: '\ea7c';
$ra-moon-sun: '\ea7d';
$ra-mountains: '\ea7e';
$ra-muscle-fat: '\ea7f';
$ra-muscle-up: '\ea80';
$ra-nails: '\ea81';
$ra-newspaper: '\ea82';
$ra-nodular: '\ea83';
$ra-noose: '\ea84';
$ra-nuclear: '\ea85';
$ra-ocarina: '\ea86';
$ra-ocean-emblem: '\ea87';
$ra-octopus: '\ea88';
$ra-omega: '\ea89';
$ra-on-target: '\ea8a';
$ra-open-chest: '\ea8b';
$ra-ophiuchus: '\ea8c';
$ra-orb-wand: '\ea8d';
$ra-ore: '\ea8e';
$ra-overhead: '\ea8f';
$ra-overmind: '\ea90';
$ra-padlock: '\ea91';
$ra-palm-tree: '\ea92';
$ra-pawn: '\ea93';
$ra-pawprint: '\ea94';
$ra-pig: '\ea95';
$ra-pill: '\ea96';
$ra-pills: '\ea97';
$ra-pine-tree: '\ea98';
$ra-ping-pong: '\ea99';
$ra-pisces: '\ea9a';
$ra-plain-dagger: '\ea9b';
$ra-player-despair: '\ea9c';
$ra-player-dodge: '\ea9d';
$ra-player-king: '\ea9e';
$ra-player-lift: '\ea9f';
$ra-player-pain: '\eaa0';
$ra-player-pyromaniac: '\eaa1';
$ra-player-shot: '\eaa2';
$ra-player-teleport: '\eaa3';
$ra-player-thunder-struck: '\eaa4';
$ra-player: '\eaa5';
$ra-podium: '\eaa6';
$ra-pointy-hat: '\eaa7';
$ra-poison-cloud: '\eaa8';
$ra-potion-ball: '\eaa9';
$ra-potion: '\eaaa';
$ra-prank-glasses: '\eaab';
$ra-pretty-fangs: '\eaac';
$ra-psychic-waves: '\eaad';
$ra-pumpkin-lantern: '\eaae';
$ra-pyramids: '\eaaf';
$ra-queen-crown: '\eab0';
$ra-quill-ink: '\eab1';
$ra-rabbit: '\eab2';
$ra-radial-balance: '\eab3';
$ra-radioactive: '\eab4';
$ra-raise-zombie: '\eab5';
$ra-raven: '\eab6';
$ra-reactor: '\eab7';
$ra-recycle: '\eab8';
$ra-regeneration: '\eab9';
$ra-relic-blade: '\eaba';
$ra-repair: '\eabb';
$ra-reverse: '\eabc';
$ra-ring: '\eabd';
$ra-ringing-bell: '\eabe';
$ra-roast-chicken: '\eabf';
$ra-robe: '\eac0';
$ra-robot-arm: '\eac1';
$ra-round-bottom-flask: '\eac2';
$ra-round-shield: '\eac3';
$ra-rune-stone: '\eac4';
$ra-rupee: '\eac5';
$ra-sagittarius: '\eac6';
$ra-sapphire: '\eac7';
$ra-scorpio: '\eac8';
$ra-scroll-quill: '\eac9';
$ra-scroll-unfurled: '\eaca';
$ra-scythe: '\eacb';
$ra-sea-serpent: '\eacc';
$ra-seagull: '\eacd';
$ra-shark: '\eace';
$ra-sheep: '\eacf';
$ra-sheriff: '\ead0';
$ra-shield-reflect: '\ead1';
$ra-shield: '\ead2';
$ra-shinto-shrine: '\ead3';
$ra-shoe-prints: '\ead4';
$ra-shot-through-the-heart: '\ead5';
$ra-shovel: '\ead6';
$ra-shuriken: '\ead7';
$ra-sickle: '\ead8';
$ra-sideswipe: '\ead9';
$ra-sinagot: '\eada';
$ra-sinking-ship: '\eadb';
$ra-skull-staff: '\eadc';
$ra-skull-trophy: '\eadd';
$ra-skull: '\eade';
$ra-slash-ring: '\eadf';
$ra-sliced-bread: '\eae0';
$ra-small-fire: '\eae1';
$ra-snail: '\eae2';
$ra-snake: '\eae3';
$ra-snorkel: '\eae4';
$ra-snowflake: '\eae5';
$ra-soccer-ball: '\eae6';
$ra-spades-card: '\eae7';
$ra-spades: '\eae8';
$ra-spartan-helmet: '\eae9';
$ra-spear-head: '\eaea';
$ra-speech-bubble: '\eaeb';
$ra-speech-bubbles: '\eaec';
$ra-spell-book: '\eaed';
$ra-spider-alt: '\eaee';
$ra-spider-face: '\eaef';
$ra-spikeball: '\eaf0';
$ra-spiked-ball: '\eaf1';
$ra-spiked-bat: '\eaf2';
$ra-spiked-mace: '\eaf3';
$ra-spiked-shield: '\eaf4';
$ra-spiked-shoulder-armor: '\eaf5';
$ra-spiked-tentacle: '\eaf6';
$ra-spinning-sword: '\eaf7';
$ra-spiral-shell: '\eaf8';
$ra-splash: '\eaf9';
$ra-sprout-emblem: '\eafa';
$ra-sprout: '\eafb';
$ra-spy: '\eafc';
$ra-spyglass: '\eafd';
$ra-stabbed-note: '\eafe';
$ra-stone-block: '\eaff';
$ra-stone-pile: '\eb00';
$ra-stone-throne: '\eb01';
$ra-stone-tower: '\eb02';
$ra-stopwatch: '\eb03';
$ra-suckered-tentacle: '\eb04';
$ra-suits: '\eb05';
$ra-summits: '\eb06';
$ra-sun-symbol: '\eb07';
$ra-sun: '\eb08';
$ra-sunbeams: '\eb09';
$ra-super-mushroom: '\eb0a';
$ra-supersonic-arrow: '\eb0b';
$ra-sword-clash: '\eb0c';
$ra-sword: '\eb0d';
$ra-target-arrows: '\eb0e';
$ra-target-dummy: '\eb0f';
$ra-target-poster: '\eb10';
$ra-taurus: '\eb11';
$ra-telescope: '\eb12';
$ra-tentacle: '\eb13';
$ra-thorn-arrow: '\eb14';
$ra-thorny-vine: '\eb15';
$ra-three-keys: '\eb16';
$ra-tied-scroll: '\eb17';
$ra-toast: '\eb18';
$ra-tombstone: '\eb19';
$ra-tooth: '\eb1a';
$ra-torch: '\eb1b';
$ra-tornado: '\eb1c';
$ra-tower: '\eb1d';
$ra-trail: '\eb1e';
$ra-treasure-map: '\eb1f';
$ra-trefoil-lily: '\eb20';
$ra-trident: '\eb21';
$ra-triforce: '\eb22';
$ra-trophy: '\eb23';
$ra-trumpet-flag: '\eb24';
$ra-turd: '\eb25';
$ra-two-dragons: '\eb26';
$ra-two-hearts: '\eb27';
$ra-uncertainty: '\eb28';
$ra-underhand: '\eb29';
$ra-upgrade: '\eb2a';
$ra-vase: '\eb2b';
$ra-venomous-snake: '\eb2c';
$ra-vertical-banner: '\eb2d';
$ra-vial: '\eb2e';
$ra-vine-whip: '\eb2f';
$ra-virgo: '\eb30';
$ra-wanted-reward: '\eb31';
$ra-war-axe: '\eb32';
$ra-warhammer: '\eb33';
$ra-warlord-helmet: '\eb34';
$ra-watchtower: '\eb35';
$ra-water-drop: '\eb36';
$ra-water-mill: '\eb37';
$ra-wave-crest: '\eb38';
$ra-white-book: '\eb39';
$ra-white-tower: '\eb3a';
$ra-winged-scepter: '\eb3b';
$ra-wizard-face: '\eb3c';
$ra-wizard-staff: '\eb3d';
$ra-wolf-head: '\eb3e';
$ra-wolf-howl: '\eb3f';
$ra-wolf-trap: '\eb40';
$ra-wood-axe: '\eb41';
$ra-wood-beam: '\eb42';
$ra-wood-pile: '\eb43';
$ra-wooden-pier: '\eb44';
$ra-wooden-sign: '\eb45';
$ra-world: '\eb46';
$ra-wrench: '\eb47';
$ra-wyvern: '\eb48';
$ra-x-mark: '\eb49';
$ra-zebra-shield: '\eb4a';
$ra-zigzag-leaf: '\eb4b';
